In [2]:
# Displaying in Python
print("Hello, How are you doing?")
print("This is how to print anything in python")

Hello, How are you doing?
This is how to print anything in python

In [5]:
# Variables
name = "Abdul Rehman"
age = 23
weight = 74.5
is_male = True

print(f"Hello {name}")
print(f"You are {age} years old.")
print(f"Your weight is {weight} kg")
if is_male:
  print("Sex = male")
else:
  print("Sex = female")

Hello Abdul Rehman
You are 23 years old.
Your weight is 74.5 kg
Sex = male

In [4]:
# So, now we are practing Arithmetic operrators in python
a= 10
b=5
a += b
print(a)
a -= b
print(a)
a *= b
print(a)
a /=b # It will give you float
print(a)
a //= b# It will give you integer
a %= b  # It will give you remainder
print(a)
a **= b # It will give you power
print(a)

15
10
50
10.0
2.0
32.0

In [12]:
#Typecasting
# It's very useful when user inputs because input is always a string
name = "Abdul Rehman Saeed"
age = 20
gpa = 3.2
is_student = True

print(type(age))

print(float(age))
print(int(gpa))
age = str(age)

print(type(age))

<class 'int'>
20.0
3
<class 'str'>

In [14]:
# user_input
name = input("Hello, What is you name? ")
print(f"Hello {name}")
age = input("How old are you?")
print(f"You are {age} years old")

Hello, What is you name? Abdul Rehman
Hello Abdul Rehman
How old are you?22
You are 22 years old

In [19]:
#if_else

print("Welcome to Grade Calculator")

marks = int(input("Enter your marks"))

if marks >= 90:
  print("Excellent! You got A+")
elif marks >= 80:
  print("Good! You got A")
elif marks >= 70:
  print("You got B")
elif marks >= 60:
  print("You got C")
elif marks >= 50:
  print("You got D")
else:
  print("You failed the exam")

Welcome to Grade Calculator
Enter your marks50
You got D

In [30]:
# logical operators
# there are three logical operators
# and = both conditions must be true
# or = atleast one must be true
# not = invertes the condition if true , then not true = false

age = int(input("Enter you age?"))
is_disease = input("Are you having any disease or medical issue? press 'y' for yes and 'n' for no")

if age >= 18 and is_disease == 'n':
  print("You are eligible to join armed forces" )
else:
  print("You are not eligible to join armed forces")


marks = int(input("Enter you marks"))
iq = int(input("Enter you IQ level"))

if marks >= 90 or iq >= 100:
  print("You are eligible for admission")
else:
  print("Sorry, you are not eligible")




is_rain = input("Is it raining today? press 'y' for yes and 'n' for no")
if not is_rain == 'y':
  print("You can go outside")
else:
  print("You cannot go outside")

Enter you age?18
Are you having any disease or medical issue? press 'y' for yes and 'n' for noy
You are not eligible to join armed forces
Enter you marks80
Enter you IQ level60
Sorry, you are not eligible
Is it raining today? press 'y' for yes and 'n' for noy
You cannot go outside

In [1]:
# While Loops

name = input("Enter your name: ")

while name == "":
  name = input("Enter your name: ")

age = int(input("Enter your age: "))

while age < 0:
  age = int(input("Enter your age: "))

print(f"Hello {name}")
print(f"You are {age} years old")

Enter your name:
Enter your name:
Enter your name: Abdul Rehman
Enter your age: 18
Hello Abdul Rehman
You are 18 years old

In [16]:
# for loops

for i in range(10):
  print(i)


for i in range(20,30):     # first one is inclusive , the second one is exclusive
  print(i)



for i in range(0,101,2):  # as I added 2 as a third value , so it will be incremented by 2
    print(i)


name = "Abdul Rehman"

for letter in name:
  print(letter, end = " ")

0
1
2
3
4
5
6
7
8
9
20
21
22
23
24
25
26
27
28
29
0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100
A b d u l   R e h m a n

In [9]:
# List[] = mutable, most flexible

cars = ["bmw", "audi", "mustang", "mercedes"]
print(cars)

cars[0] = "ferrari"
print(cars)

print(cars[0])
print(cars[1])
print(cars[2])
print(cars[3])

#Adding to a list at the end
cars.append("toyota")
print(cars)

#So, this line of code effectively adds "honda" to the beginning of your cars list, shifting
#all existing elements one position to the right.
cars.insert(0, "honda")


#removing element
cars.remove("honda")
print(cars)

#We can pop meaning we can remove element at a given index
cars.pop(3)
print(cars)

for car in cars:
  print(car,end = " ")

cars.clear();

print()

print(cars)

['bmw', 'audi', 'mustang', 'mercedes']
['ferrari', 'audi', 'mustang', 'mercedes']
ferrari
audi
mustang
mercedes
['ferrari', 'audi', 'mustang', 'mercedes', 'toyota']
['ferrari', 'audi', 'mustang', 'mercedes', 'toyota']
['ferrari', 'audi', 'mustang', 'toyota']
ferrari audi mustang toyota
[]

In [10]:
# Tuple() = immutable, faster
animals = ("cat","dog","rabit")

for animal in animals:
  print(animal, end = " ")

cat dog rabit

In [16]:
# Sets{} = mutable(add/remove) but we cannot replace any element with in it, unordered, We cannot access
#          by index
#          No duplicates , best for membership testing


countries = {"Pakistan","Iran","Turkey","Saudia Arabia","Qatar","Iraq","Iran"}

countries.add("Afghanistan")
print(countries)

countries.remove("Qatar")

# I am going to print the elements of my set,the sets are unordered the order is going to change each time
# during its first run we will have different order , during 2nd and other time we print , it will have
# different order

for country in countries:
  print(country, end = " ")

print()

# Sets are good for membership testing, checking to see if there is a given value within your set

if "Pakistan" in countries:
  print("Pakistant is in the set")
else:
  print("Pakistan is not in the set")


# We even could accept user input

country = input("Enter country name: ")
if country in countries:
  print(f"{country} is in the set")
else:
  print(f"{country} is not in the set")

{'Turkey', 'Afghanistan', 'Qatar', 'Pakistan', 'Saudia Arabia', 'Iraq', 'Iran'}
Turkey Afghanistan Pakistan Saudia Arabia Iraq Iran
Pakistant is in the set
Enter country name: Syria
Syria is not in the set